In [57]:
import os
os.chdir("D:/GreyAtom/Datasets/09292018")

In [58]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split as tts, cross_val_score

In [59]:
vots = pd.read_csv("votes.csv")
votes.info()
votes.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 17 columns):
party                434 non-null int64
infants              434 non-null int64
water                434 non-null int64
budget               434 non-null int64
physician            434 non-null int64
salvador             434 non-null int64
religious            434 non-null int64
satellite            434 non-null int64
aid                  434 non-null int64
missile              434 non-null int64
immigration          434 non-null int64
synfuels             434 non-null int64
education            434 non-null int64
superfund            434 non-null int64
crime                434 non-null int64
duty_free_exports    434 non-null int64
eaa_rsa              434 non-null int64
dtypes: int64(17)
memory usage: 57.7 KB

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,1,1,2,1,2,2,2,1,1,1,1,1,2,2,2,1,0
1,0,0,2,2,0,2,2,1,1,1,1,2,1,2,2,1,1
2,0,1,2,2,1,0,2,1,1,1,1,2,1,2,1,1,2
3,0,2,2,2,1,2,2,1,1,1,1,2,0,2,2,2,2
4,0,1,2,2,1,2,2,1,1,1,1,1,1,2,2,2,2

In [60]:
knn = KNeighborsClassifier(n_neighbors=5)

In [61]:
X = votes.drop(["party"], axis = 1)
y = votes["party"]

In [62]:
X.shape, y.shape

((434, 16), (434,))

In [63]:
votes = votes.apply(LabelEncoder().fit_transform)

X = votes.drop(["party"], axis = 1)
y = votes["party"]

In [64]:
knn.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [78]:
votes_train = votes.iloc[:400]
votes_test = votes.iloc[400:]

In [79]:
X = votes_train.drop(["party"], axis = 1)
y = votes_train["party"]

In [80]:
knn_model = knn.fit(X, y)

In [81]:
y_test = votes_test["party"]
votes_test_pred = votes_test.drop(["party"], axis = 1)

In [82]:
y_pred = knn_model.predict(votes_test_pred)

In [83]:
y_pred = list(y_pred)
y_test = list(y_test)

In [84]:
mis_classified = []
for x_mis, y_mis in zip(y_test, y_pred):
    if x_mis!=y_mis:
        mis_classified.append(x_mis)
print(1-(len(mis_classified)/len(y_test)))

0.9117647058823529

In [86]:
knn_cv_errors = []

for k in np.arange(1, 9):
    knn = KNeighborsClassifier(n_neighbors=k)
    cvscores = cross_val_score(knn, X, y, cv = 3, scoring = 'accuracy')
    knn_cv_errors.append(cvscores.mean())
print(knn_cv_errors)

[0.9199678300228182, 0.92999289267946, 0.9099614708412823, 0.9149740021696031, 0.9024987842741181, 0.9024987842741181, 0.912505143455654, 0.9075113156024389]