In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import train_test_split as tts, cross_val_score
from sklearn.metrics import mean_squared_error

In [2]:
import os
os.chdir("D:/GreyAtom/Datasets/09292018")

gm2008 = pd.read_csv("gm_2008_region.csv")
gm2008.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [4]:
gm2008_region = pd.get_dummies(gm2008)
print(gm2008_region.columns)

Index(['population', 'fertility', 'HIV', 'CO2', 'BMI_male', 'GDP',
       'BMI_female', 'life', 'child_mortality', 'Region_America',
       'Region_East Asia & Pacific', 'Region_Europe & Central Asia',
       'Region_Middle East & North Africa', 'Region_South Asia',
       'Region_Sub-Saharan Africa'],
      dtype='object')

In [7]:
df = pd.read_csv("diabetes.csv")
df.head()
df.info()

X = df.drop(["diabetes"], axis = 1)
y = df["diabetes"]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
pregnancies    768 non-null int64
glucose        768 non-null int64
diastolic      768 non-null int64
triceps        768 non-null int64
insulin        768 non-null int64
bmi            768 non-null float64
dpf            768 non-null float64
age            768 non-null int64
diabetes       768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [15]:
knn_cv_errors = []

for k in np.arange(1, 10):
    knn = KNeighborsClassifier(n_neighbors=k)
    cvscores = cross_val_score(knn, X, y, cv = 5, scoring = 'accuracy')
    knn_cv_errors.append(cvscores.mean())

knn_cv_errors

[0.662821492233257,
 0.6940497411085647,
 0.7135557253204311,
 0.7213564213564213,
 0.723979288685171,
 0.727900857312622,
 0.7357185298361768,
 0.7500381970970207,
 0.7422120363296834]