In [78]:
import os
import pandas as pd
import numpy as np
import operator
import matplotlib.pyplot as plot

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import auc, classification_report, confusion_matrix, mean_squared_error, roc_curve, roc_auc_score
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split as tts, cross_val_score
from sklearn.neighbors import KNeighborsClassifier

from sklearn.feature_selection import SelectKBest, chi2, RFE
from sklearn.svm import LinearSVC

os.chdir("D:/GreyAtom/Datasets/09292018")

df = pd.read_csv("diabetes.csv")
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [79]:
df["insulin"].replace (0, df["insulin"].mean(), inplace=True)

In [80]:
df["triceps"].replace (0, df["triceps"].mean(), inplace=True)

In [81]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35.000000,79.799479,33.6,0.627,50,1
1,1,85,66,29.000000,79.799479,26.6,0.351,31,0
2,8,183,64,20.536458,79.799479,23.3,0.672,32,1
3,1,89,66,23.000000,94.000000,28.1,0.167,21,0
4,0,137,40,35.000000,168.000000,43.1,2.288,33,1

In [82]:
df["bmi"].replace (0, df["bmi"].mean(), inplace=True)

In [83]:
df.head()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
0,6,148,72,35.000000,79.799479,33.6,0.627,50,1
1,1,85,66,29.000000,79.799479,26.6,0.351,31,0
2,8,183,64,20.536458,79.799479,23.3,0.672,32,1
3,1,89,66,23.000000,94.000000,28.1,0.167,21,0
4,0,137,40,35.000000,168.000000,43.1,2.288,33,1

In [84]:
X = df.drop(["diabetes"], axis = 1)
y = df["diabetes"]

In [85]:
df.corr()

,pregnancies,glucose,diastolic,triceps,insulin,bmi,dpf,age,diabetes
pregnancies,1.000000,0.129459,0.141282,0.013376,-0.018082,0.021546,-0.033523,0.544341,0.221898
glucose,0.129459,1.000000,0.152590,0.145378,0.390835,0.218814,0.137337,0.263514,0.466581
diastolic,0.141282,0.152590,1.000000,0.180890,0.074858,0.184252,0.041265,0.239528,0.065068
triceps,0.013376,0.145378,0.180890,1.000000,0.240361,0.535703,0.154961,0.026423,0.175026
insulin,-0.018082,0.390835,0.074858,0.240361,1.000000,0.189856,0.157806,0.038652,0.179185
bmi,0.021546,0.218814,0.184252,0.535703,0.189856,1.000000,0.153508,0.025748,0.312254
dpf,-0.033523,0.137337,0.041265,0.154961,0.157806,0.153508,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,0.026423,0.038652,0.025748,0.033561,1.000000,0.238356
diabetes,0.221898,0.466581,0.065068,0.175026,0.179185,0.312254,0.173844,0.238356,1.000000

In [86]:
logreg = LogisticRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.3, random_state = 42)
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [87]:
logreg.score(X_test, y_test)

0.7619047619047619

In [88]:
X1 = df[["glucose", "bmi", "age"]]
y1 = df["diabetes"]

In [89]:
logreg1 = LogisticRegression()
X1_train, X1_test, y1_train, y1_test = tts(X1, y1, test_size = 0.3, random_state = 42)
logreg1.fit(X1_train, y1_train)
logreg1.score(X1_test, y1_test)
#y1_pred_proba = logreg1.predict_proba(X1_test)[:, 1]
#auc(y1_test, y1_pred_proba)

0.7445887445887446

In [90]:
X2 = df[["pregnancies", "glucose", "insulin", "age"]]
y2 = df["diabetes"]

logreg2 = LogisticRegression()
X2_train, X2_test, y2_train, y2_test = tts(X2, y2, test_size = 0.3, random_state = 42)
logreg2.fit(X2_train, y2_train)
logreg2.score(X2_test, y2_test)

0.7532467532467533

In [91]:
X3 = df[["pregnancies", "glucose", "insulin", "age"]]
y3 = df["diabetes"]

knn = KNeighborsClassifier()
cv_results = cross_val_score(knn, X3, y3, cv = 5)
cv_results

array([0.73376623, 0.65584416, 0.70779221, 0.75816993, 0.69934641])

In [92]:
logreg3 = LogisticRegression()
cv_log_ref = cross_val_score(logreg3, X3, y3, cv = 5)
cv_log_ref.min()

0.6883116883116883

In [93]:
svc = LinearSVC()
cv_svc = cross_val_score(svc, X3, y3, cv = 5)
cv_svc

array([0.64935065, 0.63636364, 0.68181818, 0.73202614, 0.65359477])