In [1]:
2+3

5

In [2]:
3**2

9

In [3]:
print ("This is first oythod statement")

This is first oythod statement

In [4]:
print ("4**64")

4**64

In [5]:
print (4**64
      )

340282366920938463463374607431768211456

In [3]:
name="Tushar"
age = 30.5

In [4]:
type(name)

str

In [5]:
type(name)

str

In [11]:
type(age)

float

In [13]:
None

Name = None

In [14]:
Name = None

In [15]:
Name="ABC"

In [16]:
print(type(Name))

<class 'str'>

In [17]:
s="GreyAtom"

In [18]:
s[0]

'G'

In [21]:
sentence_1 = "Thsi is a rainy day"

In [20]:
sentence_1.split(" ")

['Thsi', 'is', 'a', 'rainy', 'day']

In [24]:
l = sentence_1.split(" ")

In [25]:
l

['Thsi', 'is', 'a', 'rainy', 'day']

In [26]:
sentence_2 = ' '.join(l)

In [27]:
sentence_2

'Thsi is a rainy day'

In [28]:
name = input("What's your name?")

What's your name?Tushar

name

In [29]:
name

'Tushar'

In [31]:
name = input ("Your Name?")
age = input ("Age?")
Location = input ("City?")

print ("My Name is %s, I am %s year old andc I live in %s" % (name,age,Location))

Your Name?Tushar
Age?40
City?Mumbai
My Name is Tushar, I am 40 year old andc I live in Mumbai

In [32]:
bit.ly/7julydsmp

SyntaxError: invalid syntax (<ipython-input-32-b2b59a795e3f>, line 1)

In [33]:
import os
os.chdir("D:\GreyAtom\PythonSourceCode")

In [34]:
import math

In [35]:
print (math.sqrt(3))

1.7320508075688772

In [36]:
name="test test test"

In [39]:
name.title()

'Test Test Test'

In [40]:
a = {}

In [41]:
type(a)

dict

In [53]:
a = int(input ("Enter Number 1"))
b = int(input ("Enter Number 2"))
c = a*b
print(c)
print ("The product of a and b is %s" %c)

Enter Number 12
Enter Number 22
4
The product of a and b is 4

In [60]:
aDict = {}
aDict["Name"] = "Tushar"
aDict["Age"] = "29"
aDict["Location"] = "Mumbai"
aDict["Year"] = 2018

for aKey in aDict.items():
    print(aKey[0], aKey[1])

Name Tushar
Age 29
Location Mumbai
Year 2018

In [63]:
import math as mp
a = int(input("Enter the number to find the square root "))
print(mp.sqrt(a))

Enter the number to find the square root 12
3.4641016151377544

In [68]:
lst = []
for x in range(100):
    if (x%3 == 0):
        lst.append(x)

print (lst)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [72]:
cities = ['City1', 'City2', 'City3']
weathers = ['Rain', 'Sun', 'Fog']

student1 = {}

student1 = dict(zip(cities, weathers))

print (student1)

{'City1': 'Rain', 'City2': 'Sun', 'City3': 'Fog'}

In [74]:
result = [x for x in range(100) if x%5==0]
print (result)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [77]:
import os
os.getcwd()

'D:\\GreyAtom\\PythonSourceCode'

In [78]:
os.chdir("D:\GreyAtom\input")

In [79]:
os.getcwd()

'D:\\GreyAtom\\input'

In [80]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 347B-C42C

 Directory of D:\GreyAtom\input

08-07-2018  16:35    <DIR>          .
08-07-2018  16:35    <DIR>          ..
08-07-2018  16:35                32 sample.txt.txt
               1 File(s)             32 bytes
               2 Dir(s)  500,056,363,008 bytes free

In [81]:
dir

In [86]:
dir()

['In',
 'Location',
 'Name',
 'Out',
 '_',
 '_1',
 '_11',
 '_18',
 '_2',
 '_20',
 '_23',
 '_25',
 '_27',
 '_29',
 '_39',
 '_41',
 '_76',
 '_77',
 '_79',
 '_8',
 '_81',
 '_82',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'aDict',
 'aKey',
 'age',
 'ages',
 'b',
 'c',
 'cities',
 'exit',
 'get_ipython',
 'l',
 'lst',
 'math',
 'mp',
 'name',
 'nammes',
 'os',
 'quit',
 'result',
 's',
 'sentence_1',
 'sentence_2',
 'student1',
 'weathers',
 'x']

In [83]:
ls

 Volume in drive D is DATA
 Volume Serial Number is 347B-C42C

 Directory of D:\GreyAtom\input

08-07-2018  16:38    <DIR>          .
08-07-2018  16:38    <DIR>          ..
08-07-2018  16:35                32 sample.txt
               1 File(s)             32 bytes
               2 Dir(s)  500,056,363,008 bytes free

In [88]:
with open('sample.txt', 'r') as f:
    for line in f:
        print(line)

This is sample line for testing.

In [90]:
with open('sample.txt', 'a') as f:
    f.write("This line is appened from python!\n")
    f.write("This is another lineappened from python!\n")

In [91]:
a = int(input ("Enter Number 1"))
b = int(input ("Enter Number 2"))
c = a*b
print(c)
print ("The product of a and b is %s" %c)

Enter Number 112
Enter Number 212
144
The product of a and b is 144

In [94]:
def multiply(param1, param2):
    return (a*b)

a = int(input ("Enter Number 1"))
b = int(input ("Enter Number 2"))
c = multiply(a, b)
print(c)

Enter Number 123
Enter Number 212
276

In [95]:
def multiply(param1, param2):
    return (param1*param2)

a = int(input ("Enter Number 1"))
b = int(input ("Enter Number 2"))
c = multiply(a, b)
print(c)

Enter Number 1

ValueError: invalid literal for int() with base 10: ''