In [42]:
import os
import pandas as pd
import numpy as np
import operator
import matplotlib.pyplot as plot

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import auc, classification_report, confusion_matrix, mean_squared_error, roc_curve, roc_auc_score
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.model_selection import train_test_split as tts, cross_val_score,GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

from sklearn.feature_selection import SelectKBest, chi2, RFE
from sklearn.svm import LinearSVC

In [43]:
os.chdir("D:/GreyAtom/Datasets")

df = pd.read_csv("output.csv")
df.head()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
1,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
2,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
3,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y
4,democrat,n,y,y,n,y,y,n,n,n,n,n,n,y,y,y,y

In [44]:
le = LabelEncoder()
df = df.apply(le.fit_transform)

In [45]:
df.head()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,1,1,2,1,2,2,2,1,1,1,1,1,2,2,2,1,0
1,0,0,2,2,0,2,2,1,1,1,1,2,1,2,2,1,1
2,0,1,2,2,1,0,2,1,1,1,1,2,1,2,1,1,2
3,0,2,2,2,1,2,2,1,1,1,1,2,0,2,2,2,2
4,0,1,2,2,1,2,2,1,1,1,1,1,1,2,2,2,2

In [46]:
X = df.drop(["party"], axis = 1)
y = df["party"]

In [47]:
test = SelectKBest(score_func=chi2, k=8)
fit = test.fit(X, y)

In [48]:
features = list(X.columns)
scores = list(fit.scores_)

In [49]:
dictionary = dict(zip(features, scores))
sorted(dictionary.items(), key=operator.itemgetter(1), reverse=True)

[('physician', 64.33028415229714),
 ('salvador', 40.35691413677016),
 ('aid', 35.3254730403885),
 ('budget', 35.262577829514846),
 ('education', 33.60334651598032),
 ('crime', 24.060316486290994),
 ('duty_free_exports', 21.379488059912724),
 ('missile', 20.78398977036398),
 ('superfund', 20.397669905213505),
 ('satellite', 18.401144514946175),
 ('religious', 12.853971363040834),
 ('infants', 10.734322907845689),
 ('synfuels', 10.266367575630483),
 ('eaa_rsa', 0.6915047436973774),
 ('immigration', 0.4172388185929914),
 ('water', 0.03460401939244351)]

In [64]:
chi2_features = ["physician", "salvador", "aid", "budget", "education", "crime", "duty_free_exports", "missile"]

X1 = df[chi2_features]
y1 = df["party"]

In [58]:
params = {"n_neighbors" : np.arange(1, 50)}

In [65]:
knn = KNeighborsClassifier()
knn_cv = GridSearchCV(knn, params, cv = 5)
knn_cv.fit(X1, y1)

GridSearchCV(cv=5, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [66]:
knn_cv.best_params_

{'n_neighbors': 3}

In [67]:
knn_cv.best_score_

0.9423963133640553

In [68]:
logreg = LogisticRegression()
cv_log_reg = cross_val_score(logreg, X1, y1, cv=5)
cv_log_reg.min()

0.872093023255814

In [74]:
params = {"C" : np.arange(1, 50)}
logreg_grid = LogisticRegression()
logreg_cv = GridSearchCV(logreg_grid, params, cv=5)
logreg_cv.fit(X1, y1)

print(logreg_cv.best_params_)
print(logreg_cv.best_score_)

{'C': 1}
0.9354838709677419